.event-dashboard-section {
    text-align: center;
    margin-top: 30px;
}
.event-dashboard-header {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(43, 43, 43);
    font-family: 'Open Sans', sans-serif;
}

.event-dashboard-item {
    margin-top: 20px;
    box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#5992b3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    width: 50%;
}

.red {
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
}