.closed-dashboard-section {
    text-align: center;
}

.closed-space {
    height: 30vh;
}

.closed-label {
    font-size: 7vw;
    font-weight: bold;
}

.closed-url {
    padding-top: 1vw;
    font-size: 5vw;
    font-weight: bold;
}
