.client-events-section {
    text-align: center;
    margin-top: 30px;
}
.client-events-header {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(43, 43, 43);
    font-family: 'Open Sans', sans-serif;
}

.client-event-item {
    margin-top: 20px;
    box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    width: 50%;
}