.dashboard-section {
    text-align: center;
    height: 50vh;
    padding-top: calc(50vh - 40vh);
    text-align: center;
}

.event-topic {
    font-size: 8vh;
    background-color: rgb(87, 87, 228);
    margin: 0px 10vw 0px 10vw;
    padding-bottom: 10px;
    border-radius: 10px;
    color: white;
}

.event-count {
    font-size: 20vh;
    font-weight: bold;
}

.event-size {
    font-size: 20vh;
    font-weight: bold;
}

.event-line {
    text-align: center;
}
.line-element {
    display: inline-block;
    width: 400px;
    max-width: 70%;
}

.green {
    color :green;
}

.red {
    color :red;
}

.event-line .green {
    border-bottom: 2vh solid green;
}

.event-line .red {
    border-bottom: 2vh solid red;
}