.app {
  height: 100vh;
}
.event-activated {
  position: absolute;
  padding: 20px;
  width: 300px;
  top: 30%;
  left: calc(50% - 170px);
  text-align: center;
  background-color: grey;
  color: wheat;
  border-radius: 10px;
}
.event-activated b {
  font-size: 24px;
}

.event-activated button {
  width: 300px;
}

.button-area {
  margin-top: 20px;
}

.button-area button {
  margin-top: 10px;
  height: 40px;
}

.icon {
  text-align: center;
}

.icon svg{
  padding-left: 20px;
  font-size: 60vw;
}

.event-label {
  font-size: 10vw;
  font-weight: bold;
  height: 20vh;
}

.zone-label {
  font-size: 6vw;
}

.text-label {
  font-size: 4vw;
}

.message {
  margin-top: 45vh;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
}

.zone-participants {
  margin-top: 5vh;
  font-size: 6vw;;
}

.scanner-section {
  height: 100vh;
  width: 100vw;
}

.scanner-row {
  display: table-row;
  width: 100%;;
}
.scanner-cell {
  display: table-cell;
  width: 100vw;
  text-align: center;
}

.scanner-section .scanner-row:nth-child(1) .scanner-cell {
  height: 10vh;
  vertical-align: bottom;
  font-weight: bold;
  font-size: 10vw;
}

.scanner-section .scanner-row:nth-child(2) .scanner-cell {
  height: 10vh;
  font-size: 7vw;
}

.scanner-section .scanner-row:nth-child(3) .scanner-cell {
  height: 16vh;
  vertical-align: middle;
  font-size: 5vw;
}

.size-text {
  font-size: 10vw;
  font-weight: bold;
}

.scanner-section .scanner-row:nth-child(4) .scanner-cell {
  height: 30vh;
  padding-left: 10vw;
  text-align: center;
}


.scanner-section .scanner-row:nth-child(4) .scanner-cell img {
  margin-top: 5vh;
  height: 25vh;
}

.scanner-section .scanner-row:nth-child(5) .scanner-cell {
  height: 30vh;
  text-align: center;
  vertical-align: middle;
  font-size: 6vw;
}

.scanner-message .scanner-cell {
  height: 60vh;
  vertical-align: middle;
  font-size: 5vw;
}

.register-row {
  display: table-row;
}

.register-section .register-row:nth-child(1) .register-cell {
  height: 20vh;
  width: 100vw;
  display: table-cell;
  vertical-align: middle;
  font-size: 10vw;
  font-weight: bold;
}
.register-section .register-row:nth-child(2) .register-cell {
  padding-left: 10%;
  height: 50vh;
  display: table-cell;
  vertical-align: middle;
}
.register-section .register-row:nth-child(2) .register-cell img {
  height: 100%;
}
.register-section .register-row:nth-child(3) .register-cell {
  height: 20vh;
  display: table-cell;
  vertical-align: middle;
  font-size: 5vw;
}
.scanner-closed .scanner-cell {
  display: table-cell;
  vertical-align: middle;
  font-size:5vw;
  color: red;
  height: 50vh;
}
@media only screen and (max-width: 600px) {

  .register-section .register-row:nth-child(2) .register-cell img {
    width:80%;
    height: 40%;
  }

  .event-label {
    display: table-cell;
    vertical-align: middle;
    font-size: 10vw;
    font-weight: bold;
  }
  
  .zone-label {
    font-size: 8vw;
    padding-bottom: 10vh;
  }
  
  .text-label {
    padding-top: 10vh;
    font-size: 6vw;
  }

  .message {
    font-size: 16px;
  }
}