.registration {
    text-align: center;
    margin-top:60px;
}

.registration-header {
    display: inline-block;
    padding-bottom: 50px;
    width: 100%;
}

.header {
    font-size: 30px;
    font-weight: bold;
}

.sub-header {
    font-size: 24px;
}

.registration-form {
    text-align: center;
    width: 80%;
    display: inline-block;
}

.registration-line {
    padding-bottom: 20px;
}

.registration-line-label {
    text-align: left;
}

.registration-line-input input {
    width: 90%;
    padding: 10px;
}

.registration-btn-submit {
    width: 300px;
    max-width: 95%;
    padding: 20px;
    font-size: 20px;
    background-color: rgb(91, 161, 241);
    border-radius: 20px;
    color: rgba(12, 12, 12, 0.829);
    font-weight: bold;
    border-color: transparent;
}

.registration-login-succes {
    font-size: 24px;
    font-weight: bold;
}

.registration-btn-back {
    margin-top: 20px;
    width: 200px;
    max-width: 95%;
    padding: 10px;
    font-size: 16px;
    background-color: rgb(58, 58, 233);
    color: white;
}

.registration-line-input select {
    width: 92%;
    padding: 10px;
    font-size: 24px;
}

.table-result {
    width: 50%;
    margin-top: 20px;
}

.table-result tr td:nth-child(1) {
    text-align: center;
    font-weight: bold;
    width: 50%;
}

.table-result tr td:nth-child(2) {
    padding-left: 10px;
    text-align: center;
    width: 50%;
}

.table-register {
    width: 600px;
    max-width: 90vw;
}

.table-register tr:nth-child(1) td {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
}

.table-register tr:nth-child(2) td {
    text-align: center;
    font-size: 24px;
}

.table-register tr td {
    padding-bottom: 10px;
}

.table-register tr:nth-child(3) {
    text-align: center;
}

.table-register tr:nth-child(3) td select{
    width: 100%;
    font-size: 24px;
}


.table-register tr td input {
    width: 100%;
    font-size: 16px;
    padding: 4px;
}

.table-register tr td input[type='radio'] {
    width: 25px;
}




.table-register td {
    
}

.optional {
    color: grey;
    font-size: 12px;
}

.age-selector {
    margin-left: 30px;
    font-size: 16px;
    padding: 5px;
}

.age-cell {
    vertical-align: middle;
    padding-bottom: 30px !important;
}

.consent-cell {
    font-size: 12px;
}

.consent-cell input {
    margin: 0px 0px 0px 0px;
    width: unset !important;
    transform: scale(1.5);
    margin-right: 10px;
}